@model ImageViewModel

@{
    var anchor = "image" + Model.Id;
}

<div class="col-md-12 container-image">
    <div id="@anchor" class="card @(Model.IsOwner ? "image-owned" : "image-shared")" style="max-width: 100%;">
        <img src="@Model.ImageUrl" alt="Image should be here :-(" style="width: 100%;"/>

        <div class="row" style="padding: 25px">
            <div class="image-comments col-md-6">
                <div class="row" style="padding-bottom: 20px">
                    <form method="post" asp-action="Post" asp-controller="Comments" >
                        <input type="hidden" name="imageId" value="@Model.Id"/>
                        <div class="col-sm-9">
                            <textarea name="comment" class="form-control" placeholder="Write a comment here" autocomplete="off" style="max-width: 100%; width: 100%"></textarea>
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-primary" value="Post"/>
                        </div>
                    </form>
                </div>
                @Html.DisplayFor(model => model.Comments)
            </div>
            <div class="image-attributes col-md-6">
                @if (!Model.IsOwner)
                {
                    <div class="row">
                        <h5 style="float: right">Posted by @Model.Username</h5>
                    </div>
                }
                else
                {
                    <div class="row vcenter">
                        <div class="col-sm-9">
                            <h5 style="float: right">Posted by you</h5>
                        </div>
                        <div class="col-sm-3">
                            <form asp-action="Delete" asp-controller="Images" method="post">
                                <input type="hidden" name="imageId" value="@Model.Id"/>
                                <input type="submit" class="btn btn-danger" value="Delete"/>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="padding:9px 0">
                        @{
                            var sharableUsers = (ViewBag.UserNames as IEnumerable<UserViewModel>).Where(user => Model.SharedWithUsers.All(sharedUser => sharedUser.Id != user.Id) && user.Id != ViewBag.UserName.Id).ToList();
                            if (!sharableUsers.Any())
                            {
                                <div class="col-sm-12">
                                    <p>No one to share with</p>
                                </div>
                            }
                            else
                            {
                                <form class="vcenter" asp-action="Share" asp-controller="Images" method="post">
                                    <input type="hidden" name="imageId" value="@Model.Id"/>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="shareWithId" style="max-width: 100%">
                                            @foreach (var user in sharableUsers)
                                            {
                                                <option value="@user.Id">@user.Username</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="submit" value="Share" class="btn btn-success"/>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                    foreach (var modelSharedWithUser in Model.SharedWithUsers)
                    {
                        <div class="row button-row">
                            <div class="col-sm-9">
                                <span>
                                    <b>@modelSharedWithUser.Username</b>
                                </span>
                            </div>
                            @if (Model.IsOwner || ViewBag.UserName.Id == modelSharedWithUser.Id)
                            {
                                <div class="col-sm-3">
                                    <form asp-action="Unshare" asp-controller="Images" method="post">
                                        <input type="hidden" name="imageId" value="@Model.Id"/>
                                        <input type="hidden" name="sharedWithId" value="@modelSharedWithUser.Id"/>
                                        <input type="submit" class="btn btn-warning" value="Unshare"/>
                                    </form>
                                </div>
                            }
                        </div>
                        <hr style="padding: 2px; margin: 2px; margin-right: 120px"/>
                    }
                }
            </div>
        </div>
    </div>
</div>