@model List<ImageViewModel>
@{
    ViewBag.Title = "Feed";
}

<div style="margin: 10px">
    <h2 style="display: inline-block; vertical-align: top">@ViewBag.Title</h2>
    <button id="button-toggle-shared" class="btn btn-primary" style="float: right;">Show only my images</button>
    <button id="button-toggle-layout" class="btn btn-warning" style="float: right; margin-right: 10px;">Change layout</button>
</div>
<div class="row">
    @if (Model.Any())
    {
        for (var i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0)
            {
                @Html.Raw("<div class=\"row\">")
                    @Html.DisplayFor(model => model[i])
            }
            else
            {
                @Html.DisplayFor(model => model[i])
                @Html.Raw("</div>")
            }
        }
        if (Model.Count % 2 == 1)
        {
            @Html.Raw("</div>")
        }
    }
    else
    {
        <div class="container text-sm-center">
            <h1>You have nothing in your feed..</h1>
            <p class="lead"> Upload a picture to get started!</p>
        </div>
    }
</div>

<script>
    var hidden = false;
    var isGrid = false;
    $(document).ready(function () {
        var shareButton = $("#button-toggle-shared");
        shareButton.click(function() {
            if (hidden) {
                shareButton.html("Show only my images");
                $(".image-shared").show();
                hidden = false;
            } else {
                shareButton.html("Show all images");
                $(".image-shared").hide();
                hidden = true;
            }
        });

        var layoutButton = $("#button-toggle-layout");
        layoutButton.click(function() {
            var containers = $(".container-image");
            var attributes = $(".image-attributes");
            var comments = $(".image-comments");

            if (isGrid) {
                containers.removeClass("col-md-6");
                containers.addClass("col-md-12");

                attributes.removeClass("col-md-12").addClass("col-md-6");
                comments.removeClass("col-md-12").addClass("col-md-6");

                attributes.each(function(index, element) {
                    $(comments.get(index)).insertBefore(element);
                });

                isGrid = false;
            } else {
                containers.removeClass("col-md-12");
                containers.addClass("col-md-6");

                attributes.removeClass("col-md-6").addClass("col-md-12");
                comments.removeClass("col-md-6").addClass("col-md-12");

                attributes.each(function(index, element) {
                    $(comments.get(index)).insertAfter(element);
                });

                isGrid = true;
            }
        });
    });
</script>